# Cereal Dataset
## Numpy and Pandas Notebook

In this exercise you will use a dataset containing information about different cereals in order to further your knowledge of NumPy and Pandas.  Before expanding our knowledge we will first review some data exploration basics.

First, download the notebook and the .csv file `cereal.csv` and place them in the same folder.

In this notebook, you will be asked to first practice some basic NumPy and Pandas skills. Practice is extremely important in building your manipulation skills so you should attempt to complete the task yourself before watching the solution.

Also note that there are sometimes different ways to do the same thing when using Python, NumPy, and Pandas for data manipulation. Some ways are more efficient than others, especially with larger data sets, but since these datasets are so small, the suggested solutions may not be the most efficient. Instead, our goal is to show you different options when it comes to completing the tasks.

The complete dataset can be found here: [Kaggle](https://www.kaggle.com/crawford/80-cereals)

|Variable | Description|
|:--------|:-----------|
|Name| Name of cereal
|mfr| Manufacturer of cereal|
|type| hot or cold|   
|calories| calories per serving|
|protein| grams of protein|
|fat| grams of fat|
|sodium| milligrams of sodium|
|fiber| grams of dietary fiber|
|carbo| grams of complex carbohydrates|
|sugars| grams of sugars|
|potass| milligrams of potassium|
|vitamins| vitamins and minerals - 0, 25, or 100, indicating the typical percentage of FDA recommended|
|shelf| display shelf (1, 2, or 3, counting from the floor)|
|weight| weight in ounces of one serving|
|cups| number of cups in one serving|
|rating| a rating of the cereals (Possibly from Consumer Reports?)|

# Exploration

### Initial Imports

In [3]:
# import common libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [4]:
# load data from csv

data = pd.read_csv('cereal.csv', index_col = 'name') #ensure file is in same location as notebook or add path

First look at `cereal`

In [5]:
# head

data.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [9]:
# shape

data.shape

(77, 15)

77 observations, 15 variables

Now lets see what the columns are named:

In [11]:
# columns

for i in data.columns:
    print(i)

mfr
type
calories
protein
fat
sodium
fiber
carbo
sugars
potass
vitamins
shelf
weight
cups
rating

There are several ways to get a quick view of your data:

* the `head()` method (seen above) provides a quick look at the first several rows of your data
* the `info()` method provides a brief summary of your DataFrame including non-null count and data types
* the `describe()` method provides descriptive statistics of numerical data

In [13]:
# info

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   fat       77 non-null     int64
 5   sodium    77 non-null     int64
 6   fiber     77 non-null     float64
 7   carbo     77 non-null     float64
 8   sugars    77 non-null     int64
 9   potass    77 non-null     int64
 10  vitamins  77 non-null     int64
 11  shelf     77 non-null     int64
 12  weight    77 non-null     float64
 13  cups      77 non-null     float64
 14  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(2)
memory usage: 9.6+ KB

In [15]:
# describe

data.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [17]:
# number of observations

len(data)

77

In [19]:
# descriptives for calories

data.calories.describe()

count     77.000000
mean     106.883117
std       19.484119
min       50.000000
25%      100.000000
50%      110.000000
75%      110.000000
max      160.000000
Name: calories, dtype: float64

We can view unique values using `unique()` and identify the counts using `value_counts()`

Let's look at manufacturer

In [21]:
# unique manufacturers

data.mfr.unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [23]:
# manufacturer value counts

data.mfr.value_counts()

mfr
K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: count, dtype: int64

In [25]:
# pivot table for calories by manufacturer

data.pivot_table('calories', 'mfr')

       calories
mfr
A    100.000000
G    111.363636
K    108.695652
N     86.666667
P    108.888889
Q     95.000000
R    115.000000

In [27]:
# pivot table for calories by manufacturer by type

data.pivot_table('calories', 'mfr', 'type')

type           C      H
mfr
A            NaN  100.0
G     111.363636    NaN
K     108.695652    NaN
N      84.000000  100.0
P     108.888889    NaN
Q      94.285714  100.0
R     115.000000    NaN

# Selecting columns

We're interested in calories, manufacturer, cups, rating, and cost (which doesn't yet exist)

In [29]:
# select variables of interest - including cost

data2 = pd.DataFrame(data, columns = ['calories', 'mfr', 'cups', 'rating', 'cost'])
data2

                           calories mfr  cups     rating  cost
name
100% Bran                        70   N  0.33  68.402973   NaN
100% Natural Bran               120   Q  1.00  33.983679   NaN
All-Bran                         70   K  0.33  59.425505   NaN
All-Bran with Extra Fiber        50   K  0.50  93.704912   NaN
Almond Delight                  110   R  0.75  34.384843   NaN
...                             ...  ..   ...        ...   ...
Triples                         110   G  0.75  39.106174   NaN
Trix                            110   G  1.00  27.753301   NaN
Wheat Chex                      100   R  0.67  49.787445   NaN
Wheaties                        100   G  1.00  51.592193   NaN
Wheaties Honey Gold             110   G  0.75  36.187559   NaN

[77 rows x 5 columns]

Notice `cost` = NaN because it didn't exist before selecting it

In [31]:
# this doesn't work (not including cost)

data['calories', 'mfr', 'cups', 'rating']

KeyError: ('calories', 'mfr', 'cups', 'rating')

In [33]:
# select multiple variables - but not cost

data[['calories', 'mfr', 'cups', 'rating']]

                           calories mfr  cups     rating
name
100% Bran                        70   N  0.33  68.402973
100% Natural Bran               120   Q  1.00  33.983679
All-Bran                         70   K  0.33  59.425505
All-Bran with Extra Fiber        50   K  0.50  93.704912
Almond Delight                  110   R  0.75  34.384843
...                             ...  ..   ...        ...
Triples                         110   G  0.75  39.106174
Trix                            110   G  1.00  27.753301
Wheat Chex                      100   R  0.67  49.787445
Wheaties                        100   G  1.00  51.592193
Wheaties Honey Gold             110   G  0.75  36.187559

[77 rows x 4 columns]

In [ ]:
# this doesn't work, either

data[['calories', 'mfr', 'cups', 'rating', 'cost']]

In [35]:
# set cost to $3.50

data2['cost'] = 3.5
data2

                           calories mfr  cups     rating  cost
name
100% Bran                        70   N  0.33  68.402973   3.5
100% Natural Bran               120   Q  1.00  33.983679   3.5
All-Bran                         70   K  0.33  59.425505   3.5
All-Bran with Extra Fiber        50   K  0.50  93.704912   3.5
Almond Delight                  110   R  0.75  34.384843   3.5
...                             ...  ..   ...        ...   ...
Triples                         110   G  0.75  39.106174   3.5
Trix                            110   G  1.00  27.753301   3.5
Wheat Chex                      100   R  0.67  49.787445   3.5
Wheaties                        100   G  1.00  51.592193   3.5
Wheaties Honey Gold             110   G  0.75  36.187559   3.5

[77 rows x 5 columns]

Note: Dr. Longo uses `np.random.seed()` below which is a legacy function, and NumPy now suggests that you use a dedicated [Generator instance](https://numpy.org/doc/stable/reference/random/generator.html#numpy.random.Generator) instead. We decided to leave this code in the course since you will more than likely see this in older code.

In [37]:
# create random values for cost

np.random.seed(56)

costs = np.random.uniform(low = 2.5, high = 4.5, size = (len(data2))).round(2)

data2['cost'] = costs
data2

                           calories mfr  cups     rating  cost
name
100% Bran                        70   N  0.33  68.402973  4.47
100% Natural Bran               120   Q  1.00  33.983679  3.17
All-Bran                         70   K  0.33  59.425505  3.85
All-Bran with Extra Fiber        50   K  0.50  93.704912  2.89
Almond Delight                  110   R  0.75  34.384843  3.21
...                             ...  ..   ...        ...   ...
Triples                         110   G  0.75  39.106174  3.37
Trix                            110   G  1.00  27.753301  3.31
Wheat Chex                      100   R  0.67  49.787445  3.17
Wheaties                        100   G  1.00  51.592193  2.57
Wheaties Honey Gold             110   G  0.75  36.187559  2.94

[77 rows x 5 columns]

In [ ]:
# when assigning values, they must be the correct size
# notice here we have 78 values, not 77, which will cause an error

np.random.seed(56)

costs2 = np.random.uniform(low = 2.5, high = 4.5, size = (78)).round(2)
data2['cost'] = costs2

data2

Now we want identify only those with values greater than 3.50m

In [39]:
# create new boolean where costs > 3.5

data2['cost2'] = data2['cost'] > 3.5

data2

                           calories mfr  cups     rating  cost  cost2
name
100% Bran                        70   N  0.33  68.402973  4.47   True
100% Natural Bran               120   Q  1.00  33.983679  3.17  False
All-Bran                         70   K  0.33  59.425505  3.85   True
All-Bran with Extra Fiber        50   K  0.50  93.704912  2.89  False
Almond Delight                  110   R  0.75  34.384843  3.21  False
...                             ...  ..   ...        ...   ...    ...
Triples                         110   G  0.75  39.106174  3.37  False
Trix                            110   G  1.00  27.753301  3.31  False
Wheat Chex                      100   R  0.67  49.787445  3.17  False
Wheaties                        100   G  1.00  51.592193  2.57  False
Wheaties Honey Gold             110   G  0.75  36.187559  2.94  False

[77 rows x 6 columns]

In [41]:
# let's use `del` to delete `cost2` - we don't need it

del data2['cost2']
data2

                           calories mfr  cups     rating  cost
name
100% Bran                        70   N  0.33  68.402973  4.47
100% Natural Bran               120   Q  1.00  33.983679  3.17
All-Bran                         70   K  0.33  59.425505  3.85
All-Bran with Extra Fiber        50   K  0.50  93.704912  2.89
Almond Delight                  110   R  0.75  34.384843  3.21
...                             ...  ..   ...        ...   ...
Triples                         110   G  0.75  39.106174  3.37
Trix                            110   G  1.00  27.753301  3.31
Wheat Chex                      100   R  0.67  49.787445  3.17
Wheaties                        100   G  1.00  51.592193  2.57
Wheaties Honey Gold             110   G  0.75  36.187559  2.94

[77 rows x 5 columns]

In [43]:
# we can index our original dataset using this value, as well

data3 = data2[data2['cost']>3.5]

data3.head()

                         calories mfr  cups     rating  cost
name
100% Bran                      70   N  0.33  68.402973  4.47
All-Bran                       70   K  0.33  59.425505  3.85
Apple Cinnamon Cheerios       110   G  0.75  29.509541  4.13
Bran Chex                      90   R  0.67  49.120253  4.25
Cinnamon Toast Crunch         120   G  0.75  19.823573  4.17

In [45]:
print(data2['cost']>3.5)

name
100% Bran                     True
100% Natural Bran            False
All-Bran                      True
All-Bran with Extra Fiber    False
Almond Delight               False
                             ...
Triples                      False
Trix                         False
Wheat Chex                   False
Wheaties                     False
Wheaties Honey Gold          False
Name: cost, Length: 77, dtype: bool

### Selecting rows

As with selecting columns, there are frequently multiple ways to accomplish tasks

To select observations we can use `.loc` and `.iloc`

`.loc` = axis labels

`.iloc` = integers

In [ ]:
data.head()

In [47]:
data.loc['All-Bran']

mfr                 K
type                C
calories           70
protein             4
fat                 1
sodium            260
fiber             9.0
carbo             7.0
sugars              5
potass            320
vitamins           25
shelf               3
weight            1.0
cups             0.33
rating      59.425505
Name: All-Bran, dtype: object

In [ ]:
data.iloc[2]

We can select values by indicating the row(s) and column(s) we're interested in

In [ ]:
data.loc['All-Bran', 'fiber']

In [49]:
# use brackets instead of parentheses as shown in module video to prevent later problems
data.loc[['All-Bran', 'Almond Delight'], 'fiber']

name
All-Bran          9.0
Almond Delight    1.0
Name: fiber, dtype: float64

In [51]:
# use brackets instead of parentheses as shown in module video to prevent later problems
data.loc[['All-Bran', 'Almond Delight'], ['fiber', 'mfr']]

                fiber mfr
name
All-Bran          9.0   K
Almond Delight    1.0   R

# Reinforcement

#### Student Practice
Pause the video and try to perform the following tasks on the `cereal` dataset. Then check your answers as I walk through the solutions.

**Exercise:** Select only the `protein` column from the data.

In [57]:
# select only variable protein

### ENTER CODE HERE ###

data['protein']

name
100% Bran                    4
100% Natural Bran            3
All-Bran                     4
All-Bran with Extra Fiber    4
Almond Delight               2
                            ..
Triples                      2
Trix                         1
Wheat Chex                   3
Wheaties                     3
Wheaties Honey Gold          2
Name: protein, Length: 77, dtype: int64

**Exercise:** Select the `fat`, `calories`, and `sugars` columns from the data.

In [61]:
# select only variables fat, calories, sugars

### ENTER CODE HERE ###
data [['fat', 'calories', 'sugars']]

                           fat  calories  sugars
name
100% Bran                    1        70       6
100% Natural Bran            5       120       8
All-Bran                     1        70       5
All-Bran with Extra Fiber    0        50       0
Almond Delight               2       110       8
...                        ...       ...     ...
Triples                      1       110       3
Trix                         1       110      12
Wheat Chex                   1       100       3
Wheaties                     1       100       3
Wheaties Honey Gold          1       110       8

[77 rows x 3 columns]

**Exercise:** Select the following observations from the data: `Cocoa Puffs`, `Frosted Flakes`, and `Fruity Pebbles`.

In [65]:
# select observations Cocoa Puffs, Frosted Flakes, and Fruity Pebbles

### ENTER CODE HERE ###

data.loc [['Cocoa Puffs', 'Frosted Flakes', 'Fruity Pebbles']]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.0,1.00,22.736446
Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.0,0.75,31.435973
Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.0,0.75,28.025765

**Exercise:** Select the cereals that have `fiber` greater than 10.

In [69]:
# select variable fiber where values are greater than 10

### ENTER CODE HERE ###
data.loc[data['fiber'] > 10]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912

**Exercise:** Import the csv file called `myratings.csv` and save it as a DataFrame called `myratings`.

In [71]:
# import myratings.csv

### ENTER CODE HERE ###
myratings = pd.read_csv('myratings.csv')

**Exercise:** Output the `myratings` DataFrame.  How many rows of data do we have?  Can you figure out why we do not have 77 rows as we did in the original `cereal` data?

In [ ]:
# what do we have?

### ENTER CODE HERE ###

**Exercise:** Check [Pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) to determine what is the default for handling blank lines of data.  How could you change this to interpret blank lines as NaN values instead of skipping them?

Import the `myratings.csv` file again, saving it was `myratings`, but this time making sure that blank lines are treated as missing values.

In [75]:
# import myratings.csv

### ENTER CODE HERE ###

myratings = pd.read_csv ('myratings.csv', skip_blank_lines=False)

**Exercise:** Set the index of `myratings` as the same as the index of the `cereal` data (created as `data` above).

In [79]:
# set index to cereal name

### ENTER CODE HERE ###
myratings.set_index(data.index, inplace = True)
myratings

                           myrating
name
100% Bran                       1.0
100% Natural Bran               NaN
All-Bran                        NaN
All-Bran with Extra Fiber       NaN
Almond Delight                  2.0
...                             ...
Triples                         NaN
Trix                            1.0
Wheat Chex                      NaN
Wheaties                        3.0
Wheaties Honey Gold             2.0

[77 rows x 1 columns]

**Exercise:** How many missing values are represented in the `myratings` data?

In [81]:
# count missing values

### ENTER CODE HERE ###

myratings.isnull().sum()

myrating    45
dtype: int64

**Exercise:** Merge the `data` DataFrame and the `myratings` DataFrame.

In [83]:
# merge myratings with original dataframe

### ENTER CODE HERE ###

data = pd.merge(data, myratings, on = 'name')
data

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,myrating
name,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,1.0
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,NaN
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,NaN
Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,1.0
Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,NaN
Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,3.0
Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,2.0

**Exercise:** The `myrating` attribute is on a scale of 1-5 while the rating attribute from the original data is on a scale of 0-100.  

Create a new column called `myrating20` that multiplies the `myrating` column by 20 so that is has the same scale as the original data.

In [85]:
# multiply myrating variable by 20

### ENTER CODE HERE ###
data['myrating20'] = data ['myrating'] *20

**Exercise:** What is the difference between the original `rating` column and the `myrating20` column?  Create a new column called `diff` that subtracts the `myrating20` column from the `rating` column.

In [87]:
# calculate difference 

### ENTER CODE HERE ###

data['diff'] = data['rating']-data['myrating20']

**Exercise:** Find the cereals with the five largest differences values.

In [89]:
# find five largest differences

### ENTER CODE HERE ###

data.nlargest(5, ['diff'])

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,myrating,myrating20,diff
name,,,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973,1.0,20.0,48.402973
Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885,2.0,40.0,28.235885
Kix,G,C,110,2,1,260,0.0,21.0,3,40,25,2,1.00,1.50,39.241114,1.0,20.0,19.241114
Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301,1.0,20.0,7.753301
Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324,2.0,40.0,5.863324

## Create per cup amounts

#### Student Practice
Pause the video and try to perform the following tasks on the `cereal` dataset. Then check your answers as I walk through the solutions.

**Exercise:** Create four new variables called:

* `calPerCup` - calories per cup
* `proPerCup` - protein per cup
* `fatPerCup` - fat per cup
* `sugPerCup` - sugar per cup

All created by taking the variable and dividing by cups (e.g., calories/cups)

In [91]:
# create 'calPerCup', 'proPerCup', 'fatPerCup', 'sugPerCup' variables as ratio of variable to cups

### ENTER CODE HERE ###
data['calPerCup'] = data['calories']/data['cups']
data['proPerCup'] = data['protein']/data['cups']
data['fatPerCup'] = data['fat']/data['cups']
data['sugPerCup'] = data['sugars']/data['cups']

**Exercise:** Create a scatterplot of `calories` by `calPerCup`.  You can use Matplotlib or Seaborn.

In [ ]:
# create scatterplot for calories by calPerCup

### ENTER CODE HERE ###

**Exercise:** Which cereal has the highest calories per cup?

In [95]:
# which cereal had the highest calories per cup?

### ENTER CODE HERE ###
mostCalCup = data.nlargest(1, ['calPerCup'])
mostCalCup

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,...,weight,cups,rating,myrating,myrating20,diff,calPerCup,proPerCup,fatPerCup,sugPerCup
name,,,,,,,,,,,,,,,,,,,,,
Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,...,1.0,0.25,53.371007,NaN,NaN,NaN,440.0,12.0,0.0,12.0

## Sorting

**Exercise:** Sort `data` by index.

In [97]:
# sort index alphabetically

### ENTER CODE HERE ###
data.sort_index()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,...,weight,cups,rating,myrating,myrating20,diff,calPerCup,proPerCup,fatPerCup,sugPerCup
name,,,,,,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,...,1.0,0.33,68.402973,1.0,20.0,48.402973,212.121212,12.121212,3.030303,18.181818
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,...,1.0,1.00,33.983679,NaN,NaN,NaN,120.000000,3.000000,5.000000,8.000000
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,...,1.0,0.33,59.425505,NaN,NaN,NaN,212.121212,12.121212,3.030303,15.151515
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,...,1.0,0.50,93.704912,NaN,NaN,NaN,100.000000,8.000000,0.000000,0.000000
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,...,1.0,0.75,34.384843,2.0,40.0,-5.615157,146.666667,2.666667,2.666667,10.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,G,C,110,2,1,250,0.0,21.0,3,60,...,1.0,0.75,39.106174,NaN,NaN,NaN,146.666667,2.666667,1.333333,4.000000
Trix,G,C,110,1,1,140,0.0,13.0,12,25,...,1.0,1.00,27.753301,1.0,20.0,7.753301,110.000000,1.000000,1.000000,12.000000
Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,...,1.0,0.67,49.787445,NaN,NaN,NaN,149.253731,4.477612,1.492537,4.477612
Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,...,1.0,1.00,51.592193,3.0,60.0,-8.407807,100.000000,3.000000,1.000000,3.000000
Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,...,1.0,0.75,36.187559,2.0,40.0,-3.812441,146.666667,2.666667,1.333333,10.666667

**Exercise:** Sort the columns alphabetically.

In [99]:
# sort columns

### ENTER CODE HERE ###
data.sort_index(axis = 1)

,calPerCup,calories,carbo,cups,diff,fat,fatPerCup,fiber,mfr,myrating,...,proPerCup,protein,rating,shelf,sodium,sugPerCup,sugars,type,vitamins,weight
name,,,,,,,,,,,,,,,,,,,,,
100% Bran,212.121212,70,5.0,0.33,48.402973,1,3.030303,10.0,N,1.0,...,12.121212,4,68.402973,3,130,18.181818,6,C,25,1.0
100% Natural Bran,120.000000,120,8.0,1.00,NaN,5,5.000000,2.0,Q,NaN,...,3.000000,3,33.983679,3,15,8.000000,8,C,0,1.0
All-Bran,212.121212,70,7.0,0.33,NaN,1,3.030303,9.0,K,NaN,...,12.121212,4,59.425505,3,260,15.151515,5,C,25,1.0
All-Bran with Extra Fiber,100.000000,50,8.0,0.50,NaN,0,0.000000,14.0,K,NaN,...,8.000000,4,93.704912,3,140,0.000000,0,C,25,1.0
Almond Delight,146.666667,110,14.0,0.75,-5.615157,2,2.666667,1.0,R,2.0,...,2.666667,2,34.384843,3,200,10.666667,8,C,25,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,146.666667,110,21.0,0.75,NaN,1,1.333333,0.0,G,NaN,...,2.666667,2,39.106174,3,250,4.000000,3,C,25,1.0
Trix,110.000000,110,13.0,1.00,7.753301,1,1.000000,0.0,G,1.0,...,1.000000,1,27.753301,2,140,12.000000,12,C,25,1.0
Wheat Chex,149.253731,100,17.0,0.67,NaN,1,1.492537,3.0,R,NaN,...,4.477612,3,49.787445,1,230,4.477612,3,C,25,1.0
Wheaties,100.000000,100,17.0,1.00,-8.407807,1,1.000000,3.0,G,3.0,...,3.000000,3,51.592193,1,200,3.000000,3,C,25,1.0
Wheaties Honey Gold,146.666667,110,16.0,0.75,-3.812441,1,1.333333,1.0,G,2.0,...,2.666667,2,36.187559,1,200,10.666667,8,C,25,1.0

**Exercise:** Sort the columns in descending order alphabetically.

In [101]:
# sort in descending order

### ENTER CODE HERE ###

data.sort_index(axis = 1, ascending=False)

,weight,vitamins,type,sugars,sugPerCup,sodium,shelf,rating,protein,proPerCup,...,myrating,mfr,fiber,fatPerCup,fat,diff,cups,carbo,calories,calPerCup
name,,,,,,,,,,,,,,,,,,,,,
100% Bran,1.0,25,C,6,18.181818,130,3,68.402973,4,12.121212,...,1.0,N,10.0,3.030303,1,48.402973,0.33,5.0,70,212.121212
100% Natural Bran,1.0,0,C,8,8.000000,15,3,33.983679,3,3.000000,...,NaN,Q,2.0,5.000000,5,NaN,1.00,8.0,120,120.000000
All-Bran,1.0,25,C,5,15.151515,260,3,59.425505,4,12.121212,...,NaN,K,9.0,3.030303,1,NaN,0.33,7.0,70,212.121212
All-Bran with Extra Fiber,1.0,25,C,0,0.000000,140,3,93.704912,4,8.000000,...,NaN,K,14.0,0.000000,0,NaN,0.50,8.0,50,100.000000
Almond Delight,1.0,25,C,8,10.666667,200,3,34.384843,2,2.666667,...,2.0,R,1.0,2.666667,2,-5.615157,0.75,14.0,110,146.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,1.0,25,C,3,4.000000,250,3,39.106174,2,2.666667,...,NaN,G,0.0,1.333333,1,NaN,0.75,21.0,110,146.666667
Trix,1.0,25,C,12,12.000000,140,2,27.753301,1,1.000000,...,1.0,G,0.0,1.000000,1,7.753301,1.00,13.0,110,110.000000
Wheat Chex,1.0,25,C,3,4.477612,230,1,49.787445,3,4.477612,...,NaN,R,3.0,1.492537,1,NaN,0.67,17.0,100,149.253731
Wheaties,1.0,25,C,3,3.000000,200,1,51.592193,3,3.000000,...,3.0,G,3.0,1.000000,1,-8.407807,1.00,17.0,100,100.000000
Wheaties Honey Gold,1.0,25,C,8,10.666667,200,1,36.187559,2,2.666667,...,2.0,G,1.0,1.333333,1,-3.812441,0.75,16.0,110,146.666667

**Exercise:** Sort the data by the `calories` column.

In [103]:
# sort by different columns

### ENTER CODE HERE ###

data.sort_values(by='calories')

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,...,weight,cups,rating,myrating,myrating20,diff,calPerCup,proPerCup,fatPerCup,sugPerCup
name,,,,,,,,,,,,,,,,,,,,,
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,...,1.00,0.50,93.704912,NaN,NaN,NaN,100.000000,8.000000,0.000000,0.000000
Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,...,0.50,1.00,60.756112,NaN,NaN,NaN,50.000000,1.000000,0.000000,0.000000
Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,...,0.50,1.00,63.005645,NaN,NaN,NaN,50.000000,2.000000,0.000000,0.000000
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,...,1.00,0.33,68.402973,1.0,20.0,48.402973,212.121212,12.121212,3.030303,18.181818
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,...,1.00,0.33,59.425505,NaN,NaN,NaN,212.121212,12.121212,3.030303,15.151515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,...,1.33,0.67,40.692320,NaN,NaN,NaN,208.955224,4.477612,2.985075,10.447761
Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,...,1.30,0.75,36.471512,NaN,NaN,NaN,186.666667,4.000000,1.333333,12.000000
Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,...,1.00,1.00,37.136863,NaN,NaN,NaN,150.000000,4.000000,3.000000,11.000000
Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,...,1.00,1.00,34.139765,NaN,NaN,NaN,150.000000,4.000000,3.000000,11.000000
Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,...,1.50,0.67,30.313351,NaN,NaN,NaN,238.805970,4.477612,2.985075,19.402985

**Exercise:** Sort the data by `calories` and then `mfr`.

In [105]:
# sort by multiple columns

### ENTER CODE HERE ###
data.sort_values(by = ['calories', 'mfr'])

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,...,weight,cups,rating,myrating,myrating20,diff,calPerCup,proPerCup,fatPerCup,sugPerCup
name,,,,,,,,,,,,,,,,,,,,,
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,...,1.00,0.50,93.704912,NaN,NaN,NaN,100.000000,8.000000,0.000000,0.000000
Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,...,0.50,1.00,60.756112,NaN,NaN,NaN,50.000000,1.000000,0.000000,0.000000
Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,...,0.50,1.00,63.005645,NaN,NaN,NaN,50.000000,2.000000,0.000000,0.000000
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,...,1.00,0.33,59.425505,NaN,NaN,NaN,212.121212,12.121212,3.030303,15.151515
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,...,1.00,0.33,68.402973,1.0,20.0,48.402973,212.121212,12.121212,3.030303,18.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,...,1.30,0.75,36.471512,NaN,NaN,NaN,186.666667,4.000000,1.333333,12.000000
Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,...,1.33,0.67,40.692320,NaN,NaN,NaN,208.955224,4.477612,2.985075,10.447761
Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,...,1.00,1.00,37.136863,NaN,NaN,NaN,150.000000,4.000000,3.000000,11.000000
Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,...,1.00,1.00,34.139765,NaN,NaN,NaN,150.000000,4.000000,3.000000,11.000000
Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,...,1.50,0.67,30.313351,NaN,NaN,NaN,238.805970,4.477612,2.985075,19.402985

## Descriptive stats

Many descriptive stats are available quickly - although you should be careful 

<span style="color: red;">Note for the following examples: You may need to pass the `numeric_only=True` parameter to prevent an error message depending on your version of pandas. Pandas updated this since the video by Dr. Longo was recorded.  See the pandas documentation for each respective method for more details.</span>

**Exercise:** Sum the entire data by column.

In [107]:
# sum for all variables

### ENTER CODE HERE ###

data.sum()

mfr           NQKKRGKGRPQGGGGRKKGKNKGRKKKPKPPGPPPQGPKKGQGARR...
type          CCCCCCCCCCCCCCCCCCCCHCCCCCCCCCCCCCCCCCCCCCCHCC...
calories                                                   8230
protein                                                     196
fat                                                          78
sodium                                                    12295
fiber                                                     165.7
carbo                                                    1124.0
sugars                                                      533
potass                                                     7398
vitamins                                                   2175
shelf                                                       170
weight                                                    79.28
cups                                                      63.22
rating                                              3285.259284
myrating                                                  101.0
myrating20                                               2020.0
diff                                                -756.841486
calPerCup                                          11047.457146
proPerCup                                            278.570146
fatPerCup                                            111.116735
sugPerCup                                            708.478874
dtype: object

**Exercise:** Sum the `calories` column only.

In [109]:
# sum of calories

### ENTER CODE HERE ###
data['calories'].sum()

8230

**Exercise:** Calculate the standard deviation by column.

In [111]:
# std for all variables

### ENTER CODE HERE ###

data.std()

TypeError: could not convert string to float: 'N'

**Exercise:** Calculate the standard deviation for the `calories` column.

In [113]:
# std of calories

### ENTER CODE HERE ###
data['calories'].std()

19.48411905682084

**Exercise:** Sum all variables by observation.

In [115]:
# sum by observation
# the output here is non useful - only for illustrative purposes

### ENTER CODE HERE ###
data.sum(axis = 'columns')

TypeError: can only concatenate str (not "int") to str

Some methods are not direct stats - but use them

**Exercise:**  What is the index value of the cereal that has the maximum calories?

In [117]:
# identify index value of maximum for calories

### ENTER CODE HERE ###

data.calories.idxmax()

'Mueslix Crispy Blend'

**Exercise:** What is the index value of the cereal that has the minimum calories?

In [119]:
# identify index value of minimum for calories

### ENTER CODE HERE ###
data.calories.idxmin()

'All-Bran with Extra Fiber'

Correlation and covariance work well with DataFrames

**Exercise:** What is the correlation for all numeric variables in the data?

In [121]:
# correlation for all numeric variables in the df

### ENTER CODE HERE ###

data.corr()

ValueError: could not convert string to float: 'N'

**Exercise:** What is the covariance for all numeric variables in the data?

In [123]:
# covariance for all numeric variables in the df

### ENTER CODE HERE ###

data.cov()

ValueError: could not convert string to float: 'N'